body{
    margin: 0;
    background-color: gray;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #52073c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@font-face{
    font-family: emulogic;
    src: url('emulogic.ttf');
}

.hidden{
	font-family: emulogic;
	visibility: hidden;
	position: absolute;
}