body{
    margin: 0;
    background-color: gray;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #52073c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@font-face{
    font-family: emulogic;
    src: url('emulogic.ttf');
}

.button{
    position: absolute;
    top: 12%;
    left:92%;  
    padding: 4px;

    border-radius: 10px;
    background-color: rgb(250, 238, 215);
    border: 4px double rgb(199,191,151);
    color: rgb(87, 7, 60);
}

.hidden{
	font-family: emulogic;
	visibility: hidden;
	position: absolute;
}